body {
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    margin-bottom: 8px;
    letter-spacing: 0.05;
    background-color: #fff/*{body|background-color}*/
    ;
    background-image: none/*{body|background-image}*/
    ;
    font-size: 16px/*{body|body-font-size}*/
    ;
    color: #15253E/*{body|text-colour}*/
    ;
}
.row{
    width: 100%;
}

ol,
ul,
li,
p,
div,
a,
button,
input {
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0;
    outline: 0;
    border: 0;
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 930px;
        margin: 0 auto;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
        margin: 0 auto;
    }
}
@media (min-width: 1780px) {
    .container {
        max-width: 1600px;
        margin: 0 auto;
    }
}
@media (min-width: 1920px) {
    .container {
        max-width: 1780px;
        margin: 0 auto;
    }
}

a,
a:hover,
a:active {
    color: #333/*{body|link-colour}*/
}

li {
    list-style: none;
}

.wrapper-header {
    background-color: #fff/*{header|background-colour}*/
    ;
    border: none;
    margin-bottom: 0px;
}

.wrapper-header .align-items-center {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    float: left;
}

.wrapper-header a,
.wrapper-header a:hover,
.wrapper-header a:active {
    color: #1f1f1f/*{header|link-colour}*/
}
.wrapper-header .login-cart a:hover, .wrapper-header .login-cart a:active{background: none;}
.wrapper-header .btn-default {
    background-color: #efefef/*{header|button-colour}*/
    ;
    border-color: #efefef/*{header|button-colour}*/
    ;
    color: #333/*{header|button-text-colour}*/
    ;
}

.wrapper-logo {
    float: left;
    margin: 0 0 0 30px;
}

.search-container {
    display: inline-block;
    width: 620px;
}

.search-container .input-group-append {
    margin: 0 0 0 -50px;
    z-index: 5;
}
.header-search .btn-mobile{
    display: none;
    cursor: pointer;
}

.header-search .ajax_search {
    border-color: #dddddd/*{header|button-colour}*/
    ;
    box-shadow: none;
    padding: 0 50px 0 30px;
    border-width: 1px;
    border-radius: 30px !important;
    color: #999;
}

.header-search .ajax_search::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999;
    opacity: 1;
    /* Firefox */
}

.header-search .ajax_search:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999;
}

.header-search .ajax_search::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #999;
}
@media (max-width: 1199px) {
    .search-container {
        width: 400px;
    }
}
@media (max-width: 991px) {
    .wrapper-header .align-items-center{
        border-bottom: 3px solid #2B3A50;
    }
    .search-container {
        width: 280px;
    }
    .header-search .ajax_search{
        font-size: 16px;
    }
    .wrapper-logo{
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 767px) {
    .header-search .btn-mobile{
        display: inline-block;
    }
    .wrapper-logo.hide,.header-search .input-group-append{
        display: none;
    }
    .search-container {
        display: flex;
        justify-content: flex-end;
        width: auto;
    }
    .search-container.active{
        margin: 10px;
        width: 100%;
    }
    .header-search{
        padding: 0 !important;
    }
    .header-search.active{
        width: 100%;
    }
    .header-search.active .d-none{
        position: absolute;
        top: 50%;
        z-index: 2;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        display: block !important;
        background: url('../images/ergox-mobile.png') no-repeat;
        background-position: -10px -61px; width: 15px; height: 15px; 
    }
    .header-search .ajax_search{
        display: none;
    }
    .header-search .ajax_search.active{
        display: block;
        padding-left: 45px;
        z-index: 1;
        width: 100%;
    }
    .search-container .input-group-append{
        margin:0px;
        position: relative;
        right: 0;
    }
    .search-container .input-group-append.active{
        position: absolute;
        display: inline-block;
    }
}

.input-group-append .btn, .input-group-append .btn-default:hover, .input-group-append .btn-default:focus {
    background: none;
    border: 0;
    outline: 0;
    box-shadow: 0 0 0;
}

.input-group-append .btn:hover {
    background: none;
}

.login-cart {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
}
.login-cart .login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-cart .login a i{
    margin: 0 5px 0 0;
}
.login-cart #header-cart {
    margin: 0 0 0 20px;
}

.login-cart a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
    padding: 0;
}
@media (max-width: 991px) {
    .login-cart a span{
        display: none;
    }
}
@media (max-width: 767px) {
    .login-cart.hide{
        display: none;
    }
}

a#cartcontentsheader {
    padding: 29px 25px;
    background-color: #76B4D0/*{header|Cart-icon-background-colour}*/
    ;
    color: #fff/*{header|Cart-icon-text-colour}*/
    ;
    border: none;
}
@media (max-width: 991px) {
    a#cartcontentsheader{
        padding: 29px 31px;
    }
    .logo{
        width: 110px;
    }
}
@media (max-width: 767px) {
    .logo{
        width: 80px;
    }
    a#cartcontentsheader {
        padding: 17px 19px;
    }
}

.navbar.navbar-default {
    background-color: #002324/*{header|menu-background-colour}*/
    ;
    display: none;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navigation-list li a:hover,
.navbar-default .navbar-nav>li:hover>a,
.navigation-list li:hover a,
.navigation-list li a,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff/*{header|menu-colour}*/
    ;
}

.menu {
    float: left;
    display: inline-block;
    width: 100%;
    background: #2B3A50;
}

.menu .nav {
    position: relative;
}

.menu .nav-item {
    padding: 0px 0 0px 10px;
    margin: 0 15px;
}
.menu .nav-item .nav-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0;
}
.menu .nav-item:hover{
    background:#15253E;
}
.menu .nav-item:nth-child(2) img {
    width: 30px;
}

.menu .nav-item:nth-child(3) img {
    width: 23px;
}

.menu .nav-item:nth-child(4) img {
    width: 15px;
}

.menu .nav-item:nth-child(5) img {
    width: 18px;
}

.menu .nav a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}
.menu .nav-item .nav-content{
    display: none;
    background: #15253E;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 2;
}
.menu .nav-item:hover .nav-content{
    display: block;
}
.menu .nav-item .nav-content > ul{
    display: inline-block;
    width: 100%;
    float: left;
}
.menu .nav-item .nav-content > ul > li {
    text-align: left;
    width: 17%;
    display: flex;
    border-right: 1px solid #384C6B;
}
.menu .nav-item .nav-content > ul > li:hover{
    background:#384C6B;
}
.menu .nav-item .nav-content > ul > li:nth-child(1) .content-title img{
    width: 28px;
}
.menu .nav-item .nav-content > ul > li:nth-child(2) .content-title img{
    width: 23px;
}
.menu .nav-item .nav-content > ul > li:nth-child(3) .content-title img{
    width: 15px;
}
.menu .nav-item .nav-content > ul > li:nth-child(4) .content-title img{
    width: 23px;
}
.menu .nav-item .nav-content > ul > li .content-title{
    width: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 0 10px 20px;
    border-top: 1px solid #384C6B;
}
.menu .nav-item .nav-content > ul > li:nth-child(1) .content-title{
    border-top: 0;
}
.menu .nav-item .nav-content > ul > li .content-title a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
}
.menu .nav-item .nav-content > ul > li .content-list{
    display: none;
    width: 83%;
    float: left;
    position: absolute;
    left: 17%;
    top: 0;
    padding: 50px 45px 70px;
}
.menu .nav-item .nav-content > ul > li:hover .content-list {
    display: block;
}
.menu .nav-item .nav-content > ul > li .content-list .dropdown-subcat{
    padding: 0 30px;
    float: left;
    width: 50%;
}
.menu .nav-item .nav-content > ul > li .content-list .dropdown-subcat > a{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    padding: 0 0 10px;
    border-bottom: 1px solid #384C6B;
}
.menu .nav-item .nav-content > ul > li .content-list .dropdown-subcat > ul > li{
    color: #fff;
    width: 50%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 25px 0 0;
    padding: 0 0 0 20px;
    position: relative;
}
.menu .nav-item .nav-content > ul > li .content-list .dropdown-subcat > ul > li:before{
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background: #384C6B;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.menu .nav-item .nav-content > ul > li .content-list .dropdown-subcat > ul > li a{
    text-transform: capitalize;
}
@media (max-width: 1779px){
    .menu .nav-item .nav-content > ul > li .content-title a{
        font-size: 15px;
    }
    .menu .nav-item .nav-content > ul > li .content-list .dropdown-subcat .a{
        font-size: 14px;
    }
    .menu .nav-item .nav-content > ul > li .content-list .dropdown-subcat > ul > li a{
        font-size: 14px;
    }
}
@media (max-width: 1199px) {
    .menu .nav a{
        font-size: 14px;
    }
    .menu .nav-item .nav-content > ul > li .content-list{
        padding: 25px 30px 0;
    }
    .menu .nav-item .nav-content > ul > li .content-list .dropdown-subcat{
        padding: 0 5px;
    }
    .menu .nav-item .nav-content > ul > li .content-title a,
    .menu .nav-item .nav-content > ul > li .content-list .dropdown-subcat > ul > li{
        font-size: 10px;
    }
    .menu .nav-item .nav-content > ul > li .content-list .dropdown-subcat .a{
        font-size: 12px;
    }
    .menu .nav-item .nav-content > ul > li .content-list .dropdown-subcat > ul > li a{
        font-size: 12px;
    }
}
@media (max-width: 991px) {
    .menu {
        display: none;
    }
    .menu.active {
        margin: -1px 0 0;
        display: block;
        background: #15253E;
    }
    .menu-mobile{
        width: 80px;
        height: 80px;
        margin: 0 20px 0 0;
        padding: 25px 0;
        text-align: center;
        display: inline-block !important;
    }
    .menu-mobile.active{
        background: #15253E;
    }
    .menu-mobile span{
        display: inline-block;
        background: url('../images/ergox-mobile.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left;
        background-position: -10px -0px; width: 27px; height: 22px;
    }
    .menu-mobile.active span{
        background-position: -10px -32px; width: 19px; height: 19px;
    }
    .menu .nav-item{
        display: block;
        width: 100%;
        border-top: 1px solid #384C6B;
    }
    .menu .nav-item:first-child{
        display: none;
    }
    .menu .nav-item:nth-child(2){
        border: 0;
    }
}
@media (max-width: 767px) {
    .menu-mobile {
        margin: 0 10px 0 0;
        width: 56px;
        height: 56px;
        padding: 20px 16px 25px;
    }
}
#homepageCarousel{
    display: inline-block;
    float: left;
    width: 100%;
}
.carousel.slide .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: rgba(43, 61, 80, 0.4);
}

.carousel.slide .carousel-caption p {
    text-transform: uppercase;
    margin: 0;
}

.carousel.slide .carousel-caption p span {
    cursor: pointer;
    position: relative;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.carousel.slide .carousel-caption p span i {
    margin: 0 10px;
    -webkit-animation: boucing 1s infinite;
    position: relative;
}
@-webkit-keyframes boucing {
    0% {
        bottom: -2px;
    }
    25%,
    75% {
        bottom: 1px;
    }

    50% {
        bottom: 2px;
    }

    100% {
        bottom: 0;
    }
}

@media (max-width: 991px) {
    .carousel.slide .carousel-caption{
        padding: 5px 0px;
    }
    .carousel.slide .carousel-caption p span{
        font-size: 8px;
    }
    @-webkit-keyframes boucing {
        0% {
            bottom: 1px;
        }
        25%,
        75% {
            bottom: 2px;
        }
    
        50% {
            bottom: 3px;
        }
    
        100% {
            bottom: 0;
        }
    }
}
.title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 28px;
    position: relative;
    display: block;
    width: 100%;
}

.title:after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    content: '';
    width: 80px;
    height: 3px;
    background: #76B4D0;
}
@media (max-width: 1780px) {
    .title{
        font-size: 28px;
        line-height: 32px;
    }
}
@media (max-width: 991px) {
    .title{
        font-size: 24px;
        line-height: 28px;
    }
}
@media (max-width: 767px) {
    .title{
        font-size: 20px;
        line-height: 24px;
    }
}

.department {
    margin: 100px 0 130px;
    display: inline-block;
    width: 100%;
}

.department .title {
    margin: 0 0 83px;
}

.department-content,
.department-list {
    display: flex;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.department .department-item {
    position: relative;
    display: inline-block;
    flex: 1;
}

.department-list .department-item {
    float: left;
    width: 29%;
}

.department-list .department-item>img {
    width: 100%;
}

.department-list .department-wrap {
    width: 41%;
    margin: 0 .5%;
    float: left;
}

.department-list .department-wrap>ul {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.department-list .department-wrap>ul li:first-child {
    margin: 0 0 1%;
}

.department-list .department-wrap>ul li:last-child {
    margin: 1% 0 0;
}

.department-list .department-wrap .department-item {
    width: 100%;
}

.department .department-item .des {
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.department .department-item .des span {
    margin: 25px 0 0;
}
.department .department-item .shop-now{
    font-size: 16px;
    line-height: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 50px;
    display: none;
    padding: 9px 35px 6px;
    margin: 30px 0 0;
    transition: 2s;
}
.department .department-item:hover:after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: #15253E;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}
.department .department-item:hover .shop-now {
    cursor: pointer;
    display: inline-block;
}
@media (max-width: 1780px) {
    .department {
        margin: 90px 0 110px;
    }
    .department .department-item .des,
    .department .department-item .shop-now{
        font-size: 14px;
        line-height: 16px;
    }
    .department .department-item .des img {
        width: 50px;
    }
    .department .department-item .des span{
        margin: 10px 0 0;
    }
}
@media (max-width: 1199px){
    .department .department-item .des img {
        width: 30px;
    }
    .department .department-item .des, .department .department-item .shop-now{
        font-size: 10px;
    }
    .department .department-item .shop-now{
        padding: 5px 13px 3px;
        margin: 5px 0 0;
        border-width: 1px;
    }
}
@media (max-width: 991px) {
    .department {
        margin: 45px 0 30px;
    }
    .department .title {
        margin: 0 0 56px;
    }
    .department-list{
        display: inline-block;
    }
    .department-list .department-item{
        width: 50%;
        margin: 0 0 10px;
    }
    .department-list .department-item:nth-child(2n){
        padding: 0 0 0 5px;
    }
    .department-list .department-item:nth-child(2n +1){
        padding: 0 5px 0 0;
    }
    .department-list .department-item:nth-child(2n +1):hover:after{
        right: 5px;
    }
    .department-list .department-item:nth-child(2n):hover:after{
        left: 5px;
    }   
    .department .department-item .des, .department .department-item .shop-now {
        font-size: 16px;
        line-height: 18px;
    }
    .department .department-item .des span {
        margin: 15px 0 10px;
    }
}
@media (max-width: 767px) {
    .department{
        margin-bottom: 0;
    }
    .department .title{
        margin: 0 0 50px;
    }
    .department-list .department-item{
        width: 100%;
        padding: 0 !important;
    }
    .department-list .department-item:hover:after{
        left: 0 !important;
        right: 0 !important;
    }
}

.why-buy {
    background: #E9F8FF;
    padding: 75px 0 80px;
}

.why-buy .title {
    margin: 0 0 80px;
}

.why-buy .row .text-center {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 1780px) {
    .why-buy .row .text-center{
        padding: 0 20px;
    }
}
.why-buy strong {
    color: #15253E;
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 28px;
    font-weight: 700;
    margin: 15px 0 10px;
}

.why-buy span {
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    font-size: 14px;
    color: #384C6B;
}

.why-buy>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why-buy .top-left {
    position: absolute;
}

.why-buy .top-left:after {
    position: absolute;
    content: '';
    left: 200px;
    top: -124px;
    width: 342px;
    height: 97px;
    display: inline-block;
    background: url('../images/ergox-trustmaker-top.png') no-repeat center;
}

.why-buy .bottom-right {
    position: relative;
}

.why-buy .bottom-right:after {
    position: absolute;
    content: '';
    right: 200px;
    bottom: -133px;
    width: 236px;
    height: 119px;
    display: inline-block;
    background: url('../images/ergox-trustmaker-bottom.png') no-repeat center;
}
@media (max-width: 1780px) {
    .why-buy strong{
        font-size: 18px;
        line-height: 24px;
    }
    .why-buy span {
        line-height: 22px;
        font-size: 13px;
    }
}
@media (max-width: 1199px){
    .why-buy strong {
        line-height: 18px;
        font-size: 14px;
    }
    .why-buy span {
        line-height: 17px;
        font-size: 10px;
    }
}
@media (max-width: 991px) {
    .why-buy {
        padding: 50px 0 20px;
    }
    .why-buy .row .text-center {
        margin: 0 0 40px;
    }
    .why-buy .top-left:after,.why-buy .bottom-right:after{
        display: none;
    }
    .why-buy strong {
        margin: 5px 0 5px;
        line-height: 24px;
        font-size: 18px;
    }
    .why-buy span {
        line-height: 22px;
        font-size: 13px;
    }
}
@media (max-width: 767px) {
    .why-buy {
        padding: 40px 0 20px;
    }
}

.best-sellers{
    display: inline-block;
    width: 100%;
}
.best-sellers .title {
    margin: 150px 0 60px;
}

.best-sellers button {
    text-transform: uppercase;
    border-radius: 50px;
    background: #76B4D0;
    border: 0;
    padding: 10px 38px;
    width: auto;
    line-height: 22px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.thumbnail .caption h3 {
    margin: 15px 0 15px;
}

.thumbnail .caption a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #454C59;
}

.thumbnail .caption .price {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #454C59;
    margin: 0 0 15px;
}
.thumbnail .caption .badge-secondary{
    color: #999;
    background: none;
    text-decoration: line-through;
}
.owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 30px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    outline: 0;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #15253E;
    width: 22px;
    height: 22px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #DDDDDD;
    width: 16px;
    height: 16px;
}
@media (max-width: 1780px) {
    .best-sellers .title {
        margin: 120px 0 60px;
    }
}
@media (max-width: 991px) {
    .best-sellers .title {
        margin: 50px 0 50px;
    }
    .best-sellers .caption a.btn, .best-sellers button{
        font-size: 13px;
        line-height: 18px;
        padding: 10px 38px;
    }
    .best-sellers .caption .price{
        font-size: 16px;
        line-height: 22px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .thumbnail .caption h3{height: 45px; overflow: hidden;}
}
@media (max-width: 767px) {
    .best-sellers button, .best-sellers .caption a.btn{
        font-size: 14px;
        padding: 4px 26px;
    }
}

.corporate {
    width: 100%;
    margin: 190px 0 0;
    display: inline-block;
    padding: 0 200px;
    background: #f5f5f5;
}

.corporate-content {
    display: flex;
    width: 100%;
}

.corporate-detail {
    position: relative;
    padding: 50px 100px 50px 70px;
    width: 45%;
    float: left;
}

.corporate-detail:after {
    position: absolute;
    content: "";
    border: 8px solid #15253E;
    top: -27px;
    bottom: -27px;
    right: 50px;
    left: 0;
}

.corporate-detail .corporate-title {
    display: flex;
    justify-content: space-between;
}

.corporate-detail .corporate-title .title {
    font-size: 32px;
    line-height: 35px;
    text-transform: capitalize;
}

.corporate-detail .corporate-title .title:after {
    left: 0;
    transform: translateX(0);
    bottom: -35px;
}

.corporate-des {
    font-size: 16px;
    line-height: 22px;
    margin: 40px 0 0;
    font-family: 'Roboto', sans-serif;
}

.corporate-des p {
    margin: 0 0 10px;
}

.corporate-img {
    margin: -20px 0 -20px;
    padding: 0 0 0 150px;
    width: 50%;
    float: left;
}
@media (max-width: 1780px) {
    .corporate {
        margin: 110px 0 0;
        padding: 0;
    }
    .corporate-detail{
        width: 50%;
        padding: 25px 100px 50px 50px;
    }
    .corporate-detail .corporate-title .title{
        font-size: 24px;
        line-height: 28px;
    }
    .corporate-detail .corporate-title .title:after {
        bottom: -25px;
    }
    .corporate-des{
        font-size: 14px;
    }
    .corporate-img{
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .corporate-img img{
        max-width: 100%;
        width: 100%;
    }
}
@media (max-width: 991px) {
    .corporate-content{
        display: inline-block;
    }
    .corporate-detail{
        width: 100%;
        padding: 25px 40px 50px;
    }
    .corporate-detail:after{
        top: -35px;
        bottom: 0;
        right: 0;
    }
    .corporate-des {
        font-size: 13px;
        line-height: 18px;
    }
    .corporate-img{
        width: 100%;
        margin: 50px 0;
    }
}
@media (max-width: 767px) {
    .corporate{
        margin: 60px 0 0;
    }
    .corporate-detail .corporate-title .title{
        font-size: 16px;
        line-height: 22px;
    }
}
@media (max-width: 639px) {
    .corporate-detail{
        padding: 10px 30px 30px;
    }
    .corporate-detail .corporate-title > div img{
        width: 80px;
    }
}

.wrapper-testimonials {
    margin: 180px 0 150px;
}

.wrapper-testimonials .testimonials {
    text-align: center;
}

.wrapper-testimonials .description p {
    font-size: 24px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
}

.wrapper-testimonials .star {
    margin: 40px 0 10px;
}

.wrapper-testimonials .owl-carousel {
    padding: 0 200px;
}

.wrapper-testimonials .owl-prev,
.wrapper-testimonials .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0 !important;
}

.wrapper-testimonials .owl-prev {
    left: 0;
    font-size: 50px !important;
}

.wrapper-testimonials .owl-prev:hover {
    background: none !important;
    color: #15253E !important;
    outline: 0;
}

.wrapper-testimonials .owl-next {
    right: 0;
    font-size: 50px !important;
}

.wrapper-testimonials .owl-next:hover {
    border-radius: 0;
    background: none !important;
    outline: 0;
    color: #15253E !important;
}
@media (max-width: 1780px) {
    .wrapper-testimonials{
        margin: 140px 0 100px;
    }
    .wrapper-testimonials .description p {
        font-size: 20px;
        line-height: 26px;
    }
}
@media (max-width: 1199px) {
    .wrapper-testimonials .owl-carousel{
        padding: 0 50px;
    }
    .wrapper-testimonials {
        margin: 100px 0 0px;
    }
}
@media (max-width: 991px) {
    .wrapper-testimonials .description p{
        font-size: 14px;
        line-height: 26px;
    }
}
@media (max-width: 767px) {
    .wrapper-testimonials{
        margin: 60px 0 0;
    }
    .wrapper-testimonials .description p{
        font-size: 13px;
        line-height: 18px;
    }
}

@media (max-width: 767.98px) {
    .navbar-nav .dropdown-menu .dropdown-item {
        color: #fff/*{header|menu-colour}*/
    }
}

.wrapper-subscribe {
    background: #E9F8FF;
}

.subscribe-content {
    padding: 52px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    color: #15253E;
}

.subscribe-content>div {
    margin: 0 15px;
}

.subscribe-content .subscribe-text {
    border: 0;
    box-shadow: 0 0 0 !important;
    background: none;
    width: 590px;
    padding: 25px 30px 20px 0;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    color: #384C6B;
    border-bottom: 1px solid #384C6B;
}

.subscribe-content .subscribe-text::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #384C6B;
    opacity: 1;
    /* Firefox */
}

.subscribe-content .subscribe-text:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #384C6B;
}

.subscribe-content .subscribe-text::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #384C6B;
}

.subscribe-content .subscribe-submit {
    padding: 0;
    border: 0;
    background: none !important;
    color: #8794A2;
    position: relative;
    top: 5px;
    right: 18px;
    z-index: 2;
    cursor: pointer;
}
.subscribe-content .subscribe-submit i{
    font-size: 20px;
}
@media (max-width: 1780px) {
    .subscribe-content{
        font-size: 18px;
    }
    .subscribe-content .subscribe-text{
        width: 555px;
        font-size: 14px;
    }
}
@media (max-width: 1199px) {
    .subscribe-content {
        font-size: 14px;
    }
    .subscribe-content .subscribe-text{
        width: 400px;
    }
}
@media (max-width: 991px) {
    .subscribe-content{
        font-size: 18px;
        line-height: 22px;
        flex-direction: column;
    }
    .subscribe-content .subscribe-text{
        font-size: 13px;
        line-height: 18px;
        width: 555px;
    }
}
@media (max-width: 767px) {
    .subscribe-content{
        font-size: 16px;
    }
    .subscribe-content>div{
        width: 100%;
        text-align: center;
    }
    .subscribe-content .subscribe-text{
        padding-right: 40px;
    }
    .subscribe-content .subscribe-submit{
        position: absolute;
        top: 15px;
    }
}

.wrapper-footer {
    padding: 70px 0 0;
    background-color: rgba(22,
    42,
    63,
    1)/*{footer|background-color}*/
    ;
    color: #fff/*{footer|text-colour}*/
    ;
}

.wrapper-footer a{
    text-transform: capitalize;
    display: inline-block;
    color: #fff/*{footer|link-colour}*/;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0 0 15px;
}
.wrapper-footer a:hover{
    text-decoration: underline;
}

.wrapper-footer h4 {
    margin: 15px 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.wrapper-footer .nav-item .img i{
    color: #384C6B;
}
.wrapper-footer .office {
    padding: 0 0 0 50px;
}
.wrapper-footer .office .nav-item{
    display: flex;
    margin: 0 0 15px;
}
.wrapper-footer .office .nav-item .img{
    margin: 0 10px 0 0;
}
.wrapper-footer .payment-icon-container{
    border-radius: 0;
    background:none;
    margin: 0 15px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-footer .payment-icon.PayPal {
    background-position: -10px -25px; width: 69px; height: 19px; background-size: auto;
}
.wrapper-footer .payment-icon.Visa {
    background-position: -83px -60px; width: 51px; height: 17px; background-size: auto;
}
.wrapper-footer .payment-icon.MasterCard {
    background-position: -10px -85px; width: 40px; height: 31px; background-size: auto;
}
.wrapper-footer .payment-icon.AmericanExpress {
    background-position: -10px -54px; width: 63px; height: 21px; background-size: auto;
}
.wrapper-footer .payment-icon.BankDeposit {
    background-position: -89px -25px; width: 52px; height: 25px; background-size: auto;
}
.wrapper-footer .row:last-child{
    border-top:1px solid #384C6B;
    margin: 50px 0 0;
    align-items: center;
}
.wrapper-footer .row:last-child > div{
    padding: 0;
}
.wrapper-footer .row:last-child ul{
    margin: 13px 0;
}
@media (max-width: 1780px) {
    .wrapper-footer h4{
        font-size: 22px;
    }
    .wrapper-footer a{
        font-size: 14px;
    }
    .wrapper-footer .office {
        padding: 0px;
    }
}
@media (max-width: 991px) {
    .wrapper-footer h4{
        font-size: 18px;
        line-height: 26px;
    }
    .wrapper-footer a{
        font-size: 13px;
        line-height: 22px;
    }
}
@media (max-width: 767px) {
    .wrapper-footer{
        padding: 35px 0 0;
    }
    .wrapper-footer .row:last-child{
        margin: 30px 0 0;
    }
    .wrapper-footer .row:last-child .text-md-right{
        margin: 0 0 30px;
    }
    .wrapper-footer .row:last-child ul {
        justify-content: center;
    }
    .wrapper-footer .row:last-child ul li{
        width: 25%;
    }
    .wrapper-footer a{
        margin: 0 0 10px;
    }
    .wrapper-footer .office .nav{
        max-width: 215px;
        margin: 0 auto;
    }
    .wrapper-footer .office .nav .info{
        text-align: left;
    }
    .wrapper-footer .payment-icon-container{
        margin:  0;
    }
}

/* Secondary button */
.btn-outline-secondary,
.btn-default {
    color: #333/*{buttons|btn-default-text-colour}*/
    ;
    background-color: #fff/*{buttons|btn-default-bg-colour}*/
    ;
    border-color: #ccc/*{buttons|btn-default-border-colour}*/
    ;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.open .dropdown-toggle.btn-outline-secondary,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #333/*{buttons|btn-default-text-colour-hover}*/
    ;
    background-color: #e6e6e6/*{buttons|btn-default-bg-colour-hover}*/
    ;
    border-color: #adadad/*{buttons|btn-default-border-colour-hover}*/
    ;
}

.btn-outline-secondary.disabled,
.btn-outline-secondary[disabled],
fieldset[disabled] .btn-outline-secondary,
.btn-outline-secondary.disabled:hover,
.btn-outline-secondary[disabled]:hover,
fieldset[disabled] .btn-outline-secondary:hover,
.btn-outline-secondary.disabled:focus,
.btn-outline-secondary[disabled]:focus,
fieldset[disabled] .btn-outline-secondary:focus,
.btn-outline-secondary.disabled:active,
.btn-outline-secondary[disabled]:active,
fieldset[disabled] .btn-outline-secondary:active,
.btn-outline-secondary.disabled.active,
.btn-outline-secondary[disabled].active,
fieldset[disabled] .btn-outline-secondary.active,
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-default:not(:disabled):not(.disabled):active {
    background-color: #fff/*{buttons|btn-default-disabled-bg-colour}*/
    ;
    border-color: #ccc/*{buttons|btn-default-disabled-border-colour}*/
    ;
}

/* Primary button */

.btn-primary {
    color: #fff/*{buttons|btn-primary-text-colour}*/
    ;
    background-color: #002324/*{buttons|btn-primary-bg-colour}*/
    ;
    border-color: #002324/*{buttons|btn-primary-border-colour}*/
    ;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff/*{buttons|btn-primary-text-colour-hover}*/
    ;
    background-color: #384C6B/*{buttons|btn-primary-bg-colour-hover}*/
    ;
    border-color: #002324/*{buttons|btn-primary-border-colour-hover}*/
    ;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #002324/*{buttons|btn-primary-disabled-bg-colour}*/
    ;
    border-color: #002324/*{buttons|btn-primary-disabled-border-colour}*/
    ;
}

/* Success Button */

.input-group > .input-group-append > .btn.btn-success,.btn-success {
    color: #fff/*{buttons|btn-success-text-colour}*/
    ;
    background-color: #5d7c81/*{buttons|btn-success-bg-colour}*/
    ;
    border-color: #5d7c81/*{buttons|btn-success-border-colour}*/
    ;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
    color: #fff/*{buttons|btn-success-text-colour-hover}*/
    ;
    background-color: #5d7c81/*{buttons|btn-success-bg-colour-hover}*/
    ;
    border-color: #5d7c81/*{buttons|btn-success-border-colour-hover}*/
    ;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active,
.btn-success:not(:disabled):not(.disabled):active {
    background-color: #5d7c81/*{buttons|btn-success-disabled-bg-colour}*/
    ;
    border-color: #5d7c81/*{buttons|btn-success-disabled-border-colour}*/
    ;
}

/*** begin category ***/
#list-product .row{
    width: auto;
}
.trustmaker-category{
    margin: -15px 0 0;
    background: #E9F8FF;
    padding: 18px 0;
}
#main-content-category .trustmaker-category, #main-content-detail .trustmaker-category{margin: 0;}
.trustmaker-category .owl-carousel{
    padding: 0 150px;
    display: inline-block;
}
.trustmaker-category .owl-carousel .owl-item img{
    width: auto;
}
.trustmaker-category .text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trustmaker-category .text-center strong{
    margin: 0 0 0 20px;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 1779px){
    .trustmaker-category .owl-carousel {
        padding: 0px;
    }
    .trustmaker-category .text-center strong{
        font-size: 14px;
    }
}
@media (max-width: 991px){
    .trustmaker-category .owl-carousel .owl-item img {
        width: 25px;
    }
    .trustmaker-category .text-center strong{
        font-size: 9px;
        margin: 0 0 0 8px;
    }
}

.gregory-category{
    margin: 50px 0 0;
}
.gregory-category .title {
    margin: 0 0 10px;
    padding: 0 0 20px;
    position: relative;
    font-size: 42px;
    line-height: 46px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #15253E;
}
.gregory-category .title:after{
    background: #76B4D0;
    left: 0;
    transform: translateX(0);
    bottom: 0;
}
.gregory-category .des{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
}
.gregory-category .des p{
    margin: 0 0 5px;
}
@media (max-width: 991px){
    .gregory-category .title{
        line-height: 36px;
        font-size: 36px;
    }
    .gregory-category .des {
        font-size: 13px;
        line-height: 18px;
    }
}
@media (max-width: 767px){
    .gregory-category .title{
        line-height: 24px;
        font-size: 26px;
    }
    .gregory-category .des{
        font-size: 12px;
        line-height: 16px;
    }
}

#left-sidebar {
    display: none;
}
#filters{
    display: block;
    margin-top: 45px;
}
.list-product-content {
    margin: 0;
    float: right;
    width: 100%;
    max-width: 100%;
    flex: auto;
}
.list-product-content.show {
    width: 74%;
    border-left: 1px solid #DDDDDD;
}
.sort_container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #111;
    margin-bottom: 30px;
}
.button-filter{
    cursor: pointer;
}
.total-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-results p {
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
    padding: 0 30px 0 0;
    display: table-cell;
}
.total-results .show-filter{
    margin: 0 30px 0 0;
    background: #E9F8FF;
    padding: 13px 50px;
    float: left;
}

.total-results .btn-text p {
    font-family: 'Roboto', sans-serif;
    padding: 6px 12px;
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.total-results .btn-text p span{
    font-weight: 700;
}
.sort-by .control-label{
    font-family: 'Roboto', sans-serif;
    float: left; 
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin: 6px 12px 0 15px; 
    color: #2B3A50; 
}
.sort-by .form-control{
    font-size: 16px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    padding: 0px 115px 0px 20px; 
    border-radius: 0; 
    box-shadow: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    position: relative; 
    z-index: 2; 
    background: transparent; 
    border: 1px solid #DDDDDD; 
    height: 48px;
}
.sort-by .form-group{
    margin: 0; 
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.sort-by .sortby::after{
    display: inline-block;
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 20px;
    border-top: 6px solid #ccc;
    border-left: 6px solid #fff;
    border-right: 6px solid #fff;
    transform: translateY(-50%);
}
@media (max-width: 991px){
    .total-results p, .total-results .btn-text p,.sort-by .control-label,.sort-by .form-control{
        font-size: 13px;
    }
    .sort-by .form-control{
        font-weight: 700;
    }
}
@media (max-width: 767px){   
    .sort-by .form-control{
        padding: 0px 80px 0px 20px;
        height: 40px;
    }   
    .sort-by .control-label{
        display: none;
    }
    .list-product-content{
        margin: 0;
    }
    .filter-by-box ul {
        padding: 0 !important;
    }
    .sort_container{
        margin-bottom: 50px;        
    }
    .list-product-content.show .sort_container{
        border-top: 1px solid #ddd;
    }
    .total-results .show-filter{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 25px;
        font-size: 12px;
        line-height: 16px;
        margin: 0 15px 0 0;
    }
    .total-results .show-filter i{
        margin: 0 0 0 5px;
    }
    .total-results .btn-text{
        position: absolute;
        bottom: -35px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.category-gridview, .subpage-container{
    margin-top: 26px; 
    margin-bottom: 50px;
}
#list-product .wrapper-thumbnail{
    margin: 0 0 60px;
}
#list-product .wrapper-thumbnail .thumbnail{    
    text-align: center;
}
#list-product .wrapper-thumbnail .thumbnail .thumbnail-image{
    display: inline-block;
    border: 1px solid #DDDDDD; 
    width: 100%;
    margin: 0 0 20px;
    padding: 15px;
}
#list-product .wrapper-thumbnail .thumbnail .thumbnail-image img{
    max-width: 100%;
}
.thumbnail .caption{
    text-align: left;
}
.thumbnail .caption h3 a{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
.thumbnail .caption .price{
    margin: 10px 0 15px;
}
.thumbnail .caption .price{
    font-size: 18px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
}
.addtocart, .btn-loads {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff !important;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 22px;
    background: #76B4D0;
    border: 0;
    border-radius: 50px;
    padding: 9px 38px;
    display: inline-block;
    width: auto;
}
.btn-danger{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding: 9px 38px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 50px;
    width: auto;
}
@media (max-width: 1199px){    
    .addtocart, .btn-danger, .btn-primary{
        font-size: 13px;
        padding: 5px 14px;
    }
    .thumbnail .caption a{font-size: 13px;}
}
@media (max-width: 991px){    
    #list-product .wrapper-thumbnail{
        padding: 0 10px;
        margin: 0 0 40px;
    }
    .thumbnail .caption h3 a{
        font-size: 13px;
        line-height: 18px;
    }
    .thumbnail .caption .price{
        font-size: 16px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    #list-product .list-product-content .thumb .row{
        margin-left: -10px;
        margin-right: -10px;
    }
}
@media (max-width: 767px){
    .category-gridview{
        margin-bottom: 40px;
    }
    #list-product .wrapper-thumbnail{
        padding: 0 15px;
    }
}

.pagination {
    display: inline-block;
}
.pagination > li {
    display: inline;
}
.pagination > li:last-child a span{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url('../images/ergox-category-icon.png') no-repeat;
    background-position: -10px -55px; width: 7px; height: 11px;
}
.pagination > li > a, .pagination > li > span{
    position: relative;
    float: left;
    padding: 6px 14px;
    line-height: 1.42857143;
    text-decoration: none;
    background: #E9F8FF;
    color: #15253E;
    margin:0 3px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    color: #fff;
    cursor: default;
    background: #15253E;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: red;
}
.hide-filter{
    cursor: pointer;
    float: right;
    background: url('../images/ergox-category-icon.png') no-repeat;
    background-position: -10px -0px; width: 22px; height: 22px;
}
.panel-heading-thumbnails .panel-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-by-box{
    border: 0;
}
.filter-by-box h4{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.list-group-item{
    padding-left: 0;
    text-transform: capitalize;   
    border: 0;
    font-size: 16px;
    line-height: 22px;
    color: #2B3A50;
    font-family: 'Roboto', sans-serif;
}
.list-group-item span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.list-group-item i{
    position: relative;
    margin: 0 14px 0 0;
}
.list-group-item i::before{
    border:1px solid #ddd;
    content: "";
    width: 36px;
    height: 36px;
    display: inline-block;
}
.list-group-item.filter-remove i::after{
    position: absolute;
    content: '';
    background: url('../images/ergox-category-icon.png') no-repeat;
    background-position: -10px -32px; width: 18px; height: 13px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width: 991px){
    .accordion-toggle {
        font-size: 20px;
    }
}
@media (max-width: 767px){
    .panel-heading-thumbnails .total-results{
        background: #F5F5F5;
        padding: 8px 10px 8px 20px;
    }
    .total-results .filter-mobile{
        padding: 0 5px 0 0;
        color: #999;
    }
    .panel-heading-thumbnail .sort_container{
        margin-bottom: 15px;
    }
    .list-product-content.show .sort-by {
        display: none;
    }
    .panel-heading-thumbnails .total-results .hide-filter{
        width: 25px;
        height: 19px;
        background-size: 100%;
        background-position: -1px 2px;
        padding: 0;
    }
    .hide-filter.hide-icon{
        display: none;
    }
    #left-sidebar ul li{
        width: 50%;
        float: left;
    }
    #left-sidebar ul li a{
        font-size: 12px;
        padding-right: 10px;
    }
}
.filter-by-box h4{
    text-transform: uppercase !important;
}

#left-sidebar ul{
    padding: 0 0 30px;
    display: inline-block;
    width: 100%;
}
#left-sidebar ul ~ p{padding-left: 16px; display: none;}
#left-sidebar ul li{list-style: none; margin: 0 0 8px;}
#left-sidebar .filter-by-box ul li:nth-child(7) ~ li{display: none;}
#left-sidebar p a{font-size: 14px; color: #0138a6; text-decoration: underline}
#left-sidebar .filter-by-brand ul li:nth-child(1) ~ li{display: none;}
.sort-by{float: right;margin: -3px 0 0; }
.sort-by .sortby{float: left; position: relative;}
.sort-by .sortby.active::after{ background-position: 0 -10px;}
.hide-filter i{color: #fff;background: #0138a6; width: 15px; height: 15px; border-radius: 10px;text-align: center; vertical-align: middle;}
#list-product .thumbnail .caption h3 + p.small{height: 16px;}

/* end category */

/* begin detail */
.wrapper-prod-bg{
    margin: 60px 0 0;
}
.detail-content-left{
    float: left;
    width: 50%;
    padding: 0 40px 0 0;
}
.detail-content-right{
    float: right;
    width: 50%;
    padding-left: 40px;
}
.detail-content-right-top{
    border-top: 1px solid #ddd;
    padding-top: 25px;
}
.detail-content-left .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    background: url('../images/ergox-detail-icon.png') no-repeat !important; 
    overflow: hidden; 
    text-indent: -9999px;
    text-align: left;
}
.detail-content-left .owl-carousel .owl-nav button.owl-prev{
    background-position: -10px -44px !important; 
    width: 19px; height: 34px;
    left: 0px;
}
.detail-content-left .owl-carousel .owl-nav button.owl-next{
    background-position: -10px -0px; 
    width: 32px; height: 34px; 
    right: 0px;
}
.thumbnail-images{
    margin: 50px 0 0;
    padding: 0 76px;
}
.wrapper-product-title .product-name{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin: 0 0 20px;
}
._itmspec_listopt {
    margin: 0 0 20px;
}
#main-content, #main-content-detail{
    padding-bottom: 0;
}
#n_customer #main-content, #n_customer_account #main-content{margin-bottom: 20px;}
#main-content h4, #main-content-detail h4 {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 10px;
}
#main-content h5, #main-content-detail h5 {
    color: #2B3A50;
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 10px;
}
._itmspec_listitm {
    display: inline-block;
    margin: 0 10px 0 0;
}
._itmspec_listitm ._itmspec_lnk {
    margin: 0 0 10px;
    display: inline-block;
    color: #76B4D0;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 30px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
    border: 3px solid #E9F8FF;
}
._itmspec_listitm ._itmspec_lnk:hover{
    background: #76B4D0;
    color: #fff;
    border: 3px solid #76B4D0;
    text-decoration: none;
}
._itmspec_lnk._itmspec_selected{
    color: #15253E;
    border:3px solid #15253E;
}
._itmspec_lnk._itmspec_hide{
    color: #DDDDDD;
    background: #EEEEEE;
    border-color: #DDDDDD;
}
.wrapper-pricing .productprice {
    font-size: 22px;
    line-height: 28px;
    color: #15253E;
    font-family: 'Roboto', sans-serif;
}
.wrap-addcart .addtocart {
    background: #5BC57E;
    color: #fff;
    font-size: 22px;
    line-height: 22px;
    font-family: 'Roboto Condensed', sans-serif;
}
.wrap-addcart{
    background: #F5F5F5;
    padding: 40px;
}
.wrap-addcart .wrap-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap-addcart .addtocart {
    padding: 20px 230px;
}
.wrap-addcart .note{
    border: 2px solid #E69138;
    padding: 17px 50px;
    text-align: center;
    margin: 17px 0 0;
}
.wrap-addcart .note p{
    font-size: 16px;
    line-height: 22px;
    color: #E69138;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.shipbox {
    float: left;
    width: 100%;
    margin: 35px 0 0;
}
.shipbox .shipbox-content .btn {
    background:#E9F8FF; 
    border-radius: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #15253E !important;
    padding: 0 48px;
    height: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 22px;
}
.shipbox .shipbox-content .btn:hover{
    background:#384C6B;
    color: #fff !important;
} 
.shipbox-content{
    width: 100%;
}
.shipbox .btn-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shipbox .post-code{
    margin: 0 20px;
}
.shipbox .country{
    width: 500px;
    position: relative;
}
.shipbox .country:after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    border-top: 8px solid #ddd;
    border-left: 8px solid #fff;
    border-right: 8px solid #fff;
}
.shipbox .country select{
    width: 100%;
    padding: 0 20px;
    height: 48px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.form-inline .post-code .form-control{
    width: 150px;
    border: 1px solid #DDDDDD;
    text-align: center;
    padding: 0 20px;
    height: 48px;
}
.features{
    display: inline-block;
    width: 100%;
    margin: 40px 0 0;
}
.features ul li{
    color: #2B3A50;
    padding: 0 0 0 20px;
    position: relative;
    margin: 0 0 10px;
}
.features ul li:after{
    position: absolute;
    content: "";
    left: 0;
    top: 7px;
    background: #2B3A50;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.specification{
    margin: 100px 0 0;
}
.specification-content{
    margin: 50px 0 0;
}
.specification table tr:nth-child(2n +1){
    background: #F5F5F5;
}
.specification table tr td {
    border: 0;
}
.specification table tr td:last-child{
    text-align: left;
    width: 50%;
}
.specification table tr td:first-child{
    text-align: right;
    width: 50%;
    font-weight: 700;
}
.package-include, .additional-information{
    margin: 80px 0 0;
}
.package-content, .additional-content{
    margin: 50px 0 0;
}
.package-content ul li, .additional-content p{
    margin: 0 0 10px;
}
.tabs{
    margin: 100px 0 0;
}
.tabs .nav-tabs{
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs .nav-tabs li a{
    display: inline-block;
    font-size: 22px;
    line-height: 30px;
    color: #999;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 50px;
}
.tabs .nav-tabs li .active{
    background: #F5F5F5;
    color: #15253E;
} 
.tab-content{
    padding: 45px;
    background: #F5F5F5;
}
.tab-content p{
    margin:  0 0 10px;
}
.also-like{
    margin: 90px 0;
}
.also-like .title{
    margin: 0 0 60px;
}

@media (max-width: 1919px){   
    .wrap-addcart .addtocart {
        padding: 20px 180px;
    }
    .wrap-addcart .note{
        padding: 17px 20px;
    }
}
@media (max-width: 1779px){   
    .wrapper-product-title .product-name{
        font-size: 42px;
    }
    .wrap-addcart .addtocart {
        padding: 10px 70px;
    }
    .wrap-addcart .note{
        padding: 17px 20px;
    }
}
@media (max-width: 1199px){   
    .wrapper-product-title .product-name {
        font-size: 23px;
        line-height: 28px;
    }
    ._itmspec_listitm ._itmspec_lnk{
        padding: 6px 17px;
    }
    .wrapper-pricing .productprice{
        font-size: 18px;
    }
    .wrap-addcart .addtocart {
        padding: 7px 20px;
        font-size: 18px;
    }
    .wrap-addcart .note p{
        font-size: 13px;
        line-height: 18px
    }
    .form-inline .post-code .form-control{
        width: 100px;
    }
    .shipbox .shipbox-content .btn{
        padding: 0 18px;
        font-size: 13px;
        line-height: 18px;
    }
    #main-content h4, #main-content-detail h4{
        font-size: 14px;
    }
    .features ul li{
        font-size: 13px;
    }
    .tabs .nav-tabs li a{
        font-size: 20px;
    }
}
@media (max-width: 991px){
    .wrapper-product-title .product-name {
        font-size: 36px;
        line-height: 36px;
    }
    ._itmspec_listitm ._itmspec_lnk{
        font-size: 13px;
        line-height: 18px;
    }
    .wrap-addcart{
        padding: 15px;
    }
    .shipbox .post-code{
        margin: 0 5px;
    }
    .form-inline .post-code .form-control {
        width: 70px;
        font-size: 12px;
        padding: 0 5px;
    }
    .shipbox .shipbox-content .btn, .shipbox .country select{
        font-size: 12px;
    }     
    .specification, .package-include, .additional-information, .tabs, .also-like {
        margin: 40px 0 0;
    }
    .specification table tr td,.package-content ul li, .additional-content p{
        font-size: 13px;
    }
    .tabs .nav-tabs li a {
        font-size: 18px;
    }
    .tab-content {
        padding: 30px 20px;
    }
}
@media (max-width: 767px){
    #main-content h4,#main-content-category h4, #main-content h5, #main-content-detail h4, #main-content-detail h5{
        font-size: 12px;
        margin: 0 0 5px;
    }    
    .wrapper-prod-bg {
        margin: 25px 0 0;
    }
    .detail-content-right-top {
        padding-top: 15px;
        margin: 25px 0 0;
    }
    .detail-content-right, .detail-content-left {
        width: 100%;
        float: left;
        padding: 0;
    }
    .wrapper-product-title .product-name {
        font-size: 24px;
        line-height: 26px;
        text-align: center;
    }
    .wrap-addcart {
        padding: 15px 10px 20px;
    }
    .wrap-addcart .wrap-content{
        flex-direction: column;
    }
    .wrap-addcart .wrap-content .extra-options,
    .wrap-addcart .wrap-content .extra-options .addtocart{
        width: 100%;
    }
    .wrapper-pricing .productprice {
        font-size: 20px;
        line-height: 28px;
        margin: 5px 0 10px;
    }
    .wrap-addcart .note{
        padding: 10px 5px;
    }
    .wrap-addcart .note p {
        font-size: 12px;
        line-height: 16px;
    }
    .shipbox, .features{
        margin: 20px 0 0;
    }
    .specification, .package-include, .additional-information, .tabs, .also-like{
        margin: 30px 0 0;
    }
    .tabs .nav-tabs li a {
        font-size: 12px;
        padding: 8px 25px;
    }
    .tab-content p {
        font-size: 12px;
        margin: 0 0 5px;
    }
}
/* end detail */

/* begin subpage */
.subpage-container{
    display: inline-block;
    width: 100%;    
}
.subpage-container .col-left{
    float: left;
    width: 21%;
    padding: 35px;
    background: #F8F8F8;
}
.subpage-container .subpage-content{
    float: right;
    padding: 0 0 0 50px;
    width: 79%;
}
.accordion-toggle{
    margin: 0;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}
.link-subpages li {
    margin: 0 0 20px;
}
.link-subpages li a{
    color: #2B3A50;
    text-transform: capitalize;
}
.link-subpages li.active a{
    font-weight: 700;
}
.subpage-container h1{
    text-transform: uppercase;
    margin: 0 0 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #15253E;
    font-size: 48px;
    line-height: 46px;
    font-weight: 700;
}
.subpage-container h2{
    text-transform: capitalize;
    margin: 0 0 30px;
    font-family: 'Roboto', sans-serif;
    color: #15253E;
    font-size: 32px;
    line-height: 28px;
    font-weight: 700;
}
.subpage-container h3{
    text-transform: capitalize;
    margin: 0 0 30px;
    font-family: 'Roboto', sans-serif;
    color: #15253E;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
}
.subpage-container p{
    margin: 0 0 10px;
}
.subpage-container .subpage-content ul{
    margin: 30px 0 0;
}
.subpage-container .subpage-content ul li {
    color: #2B3A50;
    padding: 0 0 0 20px;
    position: relative;
    margin: 0 0 10px;
}
.subpage-container .subpage-content ul li:after {
    position: absolute;
    content: "";
    left: 0;
    top: 7px;
    background: #2B3A50;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.subpage-container table{
    margin: 30px 0 0;
}
.subpage-container table tr:nth-child(2n){
    background: #F8F8F8;
}
.subpage-container table tr td, .subpage-container table tr th{
    border: 0;
    padding: 10px 30px;
}
.subpage-container table tr th{
    background: #F2F2F2;
}
.subpage-container table tr td:first-child{
    font-weight: 700;
}

@media (max-width: 1779px){
    .subpage-container .col-left{
        width: 30%;
    }
    .subpage-container .subpage-content{
        width: 70%;
    }
}
@media (max-width: 1199px){
    .accordion-toggle{
        font-size: 20px;
        margin: 0;
    }
    .subpage-container h1{
        font-size: 38px;
        line-height: 36px;
        margin: 0 0 20px;
    }
    .subpage-container h2{
        font-size: 22px;
        margin: 0 0 20px;
        line-height: 25px;
    }
    .subpage-container h3{
        font-size: 20px;
        margin: 0 0 20px;
        line-height: 22px;
    }
}
@media (min-width: 992px){
    #filters-sub{
        height: auto !important;
        display: block;
    }
}
@media (max-width: 991px){
    .subpage-container .col-left{
        width: 100%;
        margin: 0 0 30px;
    } 
    .subpage-container .subpage-content{
        width: 100%;
        padding: 0
    }
    .col-left .panel-heading[aria-expanded="true"] .accordion-toggle .fas.fa-minus{
        display: block !important;
    }
    .col-left .panel-heading[aria-expanded="true"] .accordion-toggle .fas.fa-plus,
    .col-left .panel-heading .accordion-toggle .fas.fa-minus  {
        display: none !important;
    }
    .accordion-toggle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #15253E;
    }
    .subpage-container .accordion-toggle{border: 0;}
    .subpage-container h3{margin-bottom: 0;}
    .subpage-container .link-subpages{margin-top: 20px;}
}
@media (max-width: 767px){
    .subpage-container{
        margin-bottom: 10px;
    }   
    .accordion-toggle{
        border: 0;
    } 
}
/* end subpage */

/* begin contact */
.subpage-map {
    padding: 0 15px 0 0;
    float: left;
}
.subpage-map iframe{
    max-width: 100%;
    margin: 12px 0 0;
}
.subpage-form {
    padding: 0 0 0 15px;
    float: left;
}
.location-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 18px;
}
.location-item .info {
    font-size: 14px;
    line-height: 22px;
    padding: 0 0 0 15px;
}
.form-group input{
    font-size: 16px;
    line-height: 22px;
    padding: 0 25px;
    height: 48px;
    color: #999999;
}
.form-group textarea{
    color: #999;
}
.form-group input::placeholder, .form-group textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999999;
    opacity: 1; /* Firefox */
}
.form-group input:-ms-input-placeholder, .form-group textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999999;
}
  
.form-group input::-ms-input-placeholder, .form-group textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: #999999;
}
.subpage-form .form-group h4 {
    font-size: 16px !important;
    line-height: 22px !important;
    margin: 15px 0 0 !important;
}
.subpage-form .addtocart{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
    left: 32px;
    padding: 0 70px;
    color: #fff;
    margin: 15px 0 0;
}
.location-item p{margin: 0;}
@media (max-width: 767px){
    .subpage-map{
        padding: 0;
    }
    .subpage-form{
        padding: 0;
        margin: 30px 0 0;
    }
}
/* end contact */
#save_button{border-radius: 50px;}
#delete_button{padding: 9px 0;}
.form-group input[type="checkbox"]{height: auto;}
@media (min-width: 992px){
    .list-product-content.show .col-lg-3{flex:0 0 33.33333%;max-width: 33.33333%;}
}
@media (min-width: 768px) and (max-width: 991px){
    .list-group-item{font-size: 13px;}
    .list-group-item i::before{width: 15px; height: 15px;}
}
@media (max-width: 767px){
    .list-group-item i::before{width: 21px; height: 21px;}
}
.wrapper-footer{font-size: 14px;}
#main-content .wrapper-footer h4, .wrapper-footer h4.nav-link{text-transform: uppercase;}
.wrapper-subscribe .input-group-append{position: relative; z-index: 3;}
.menu .nav-item .nav-content > ul > li .content-title > span{width: 28px;}
@media (min-width: 768px){
    .list-product-content.show{padding-left: 30px;}
}
.nsearchinput-pl.well ul{text-align: left;}
.nsearchinput-pl.well .title{display: inline-block; width: auto; font-size: 16px;}
.nsearchinput-pl.well .title::after{background: none;}
.lead{margin-bottom: 15px;}
@media (max-width: 639px){
    .login-cart .login a:last-child{display: none;}
    .subscribe-content .subscribe-submit{right: 0; }
    .wrapper-subscribe .input-group-append{position: static;}
}
@media (max-width: 360px){
.tabs .nav-tabs li a{padding: 8px 17px;}
.lead + p .btn-success,.lead + p .btn-primary{font-size: 9px; padding: 10px 14px;}
}
.wrapper-prod-bg #_jstl__images .slick-initialized .slick-slide{
    text-align: center;
    padding: 0 6px;
}
.slick-slide img {
    display: block;
    height: 100% !important;
    width: 100% !important;
}
.detail-content-left button::before{
    content: "";
    display: inline-block;
}
.detail-content-left button{
    background: url(../images/ergox-detail-icon.png) no-repeat transparent;
    content: "";
    display: inline-block;
}
.detail-content-left .thumbnail-images button{
    width: 14px; height: 25px;
}
.detail-content-left .thumbnail-images button.slick-prev, .detail-content-left .thumbnail-images button.slick-prev:hover{
    background-position: -44px -117px;
}
.detail-content-left .thumbnail-images button.slick-next, .detail-content-left .thumbnail-images button.slick-next:hover{
    background-position: -10px -117px;
}
.main-image{padding: 56px; border: 1px solid #dddddd;}
.main-image button{width: 46px; height: 87px;}
.main-image button::before{content: "";}
.main-image .slick-prev{left: -1px; background-position: -10px -10px;}
.main-image .slick-prev:hover{background-position: -208px -10px;}
.main-image .slick-next{right:-1px; background-position: -142px -10px;}
.main-image .slick-next:hover{background-position: -76px -10px;}
@media (max-width: 767px){
    .thumbnail-images{display: none;}
    .main-image button{width: 26px; height: 49px;}
    .main-image .slick-prev{background-position: -60px -152px;}
    .main-image .slick-prev:hover{background-position: -89px -152px;}
    .main-image .slick-next{background-position: 0px -152px;}
    .main-image .slick-next:hover{background-position: -30px -152px;}
    .main-image{padding: 36px;}
}
@media (max-width: 991px){
    .department-list .department-item > img.mobile-img{display: none;}
    .department-list .department-item > img.d-none{display: block !important;}
    .owl-theme .owl-dots .owl-dot{border-radius: 0; vertical-align: middle;}
}
#main-content .page-header{ margin-top: 20px; }